- set_fact:
    technique: "{{ item }}"

- debug:
    var: technique

- name: List available Atomic Red Team Techniques
  ansible.windows.win_find:
    paths: C:\AtomicRedTeam\atomics
    file_type: directory
    patterns: T*
  register: available_techniques

- set_fact:
    available_techniques: "{{ available_techniques | json_query('files[].filename') }}"

- name: Check requested Technique is valid
  fail:
    msg: "The selected technique {{ technique }} has no atomic tests. Please ensure it it correct and that tests exist for it. See https://github.com/redcanaryco/atomic-red-team/blob/master/atomics/Indexes/Indexes-CSV/windows-index.csv."
  when: "technique not in available_techniques"
  
- name: Get requirements for Atomic Red Team Technique
  win_shell: |
    Import-Module "C:\AtomicRedTeam\invoke-atomicredteam\Invoke-AtomicRedTeam.psd1" -Force
    Invoke-AtomicTest "{{ technique }}" -GetPrereqs
  register: requirements
  ignore_errors: True

# - debug:
#     var: requirements

- name: Run specified Atomic Red Team Technique
  win_shell: |
    Import-Module "C:\AtomicRedTeam\invoke-atomicredteam\Invoke-AtomicRedTeam.psd1" -Force
    Invoke-AtomicTest "{{ technique }}" -Confirm:$false -TimeoutSeconds 300 -ExecutionLogPath C:\AtomicRedTeam\atc_execution.csv
  register: output_art

# - name: Save output atomic red team
#   set_fact:
#     output_art: "{{ output_art }}"
#     cacheable: yes

- debug:
    var: output_art.stdout_lines

- name: Cleanup after execution
  win_shell: |
    Import-Module "C:\AtomicRedTeam\invoke-atomicredteam\Invoke-AtomicRedTeam.psd1" -Force
    Invoke-AtomicTest "{{ technique }}" -Cleanup
  register: cleanup

# - debug:
#     var: cleanup
