ansible==14.3.1
ansible-core==2.21.3
ansible-runner==2.4.3
azure-common==1.1.28
azure-core==1.41.0
azure-identity==1.25.3
azure-mgmt-compute==38.3.0
azure-mgmt-core==1.6.0
azure-mgmt-network==32.0.0
azure-mgmt-resource==26.0.0
azure-mgmt-storage==25.1.0
azure-storage-blob==12.30.0
boto3==1.43.79
botocore==1.43.79
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
cryptography==50.0.0
deprecation==2.1.0
docutils==0.23
flask==3.1.3
flask-openapi3==4.3.2
flask-cors==6.0.5
gitdb==4.0.12
GitPython==3.1.62
idna==3.19
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.1.0
lockfile==0.12.2
MarkupSafe==3.0.3
msal==1.38.0
msal-extensions==1.3.1
packaging==26.3
pexpect==4.9.0
portalocker==4.2.0
prompt-toolkit==3.0.53
ptyprocess==0.7.0
pycparser==3.0
pycryptodome==3.23.0
PyJWT==2.13.0
pydantic==2.13.4
pyspnego==0.12.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-terraform==0.10.1
python-vagrant==1.0.0
pywinrm==0.5.0
PyYAML==6.0.3
questionary==2.1.1
requests==2.34.2
requests_ntlm==1.3.0
resolvelib==1.2.1
s3transfer==0.19.2
six==1.17.0
smmap==5.0.3
splunk-sdk==2.1.1
tabulate==0.10.0
typing_extensions==4.16.0
urllib3==2.7.0
wcwidth==0.8.2
Werkzeug==3.1.8
xmltodict==1.0.4
google-cloud-compute==1.51.0
google-cloud-storage==3.13.1
google-cloud-bigtable==2.43.0
google-cloud-secret-manager==2.30.0
google-auth==2.57.0
fqdn==1.5.1
