[aws_sqs_based_s3://cloudtrail]
aws_account = splunk_role_{{ general.attack_range_name }}_{{ general.key_name }}
index = aws
interval = 60
s3_file_decoder = CloudTrail
sourcetype = aws:cloudtrail
sqs_batch_size = 10
sqs_queue_region = {{ aws.region }}
sqs_queue_url = {{ aws.cloudtrail_sqs_queue }}