[aws]
account = splunk_role_{{ key_name }}
groups = API-Gateway-Execution-Logs_{{ api_gateway_id }}/prod, /aws/lambda/notes_application_{{ key_name }}
delay = 1800
index = aws
interval = 120
only_after = 1970-01-01T00:00:00
region = {{ region }}
sourcetype = aws:cloudwatchlogs
stream_matcher = .*
