
[circleci]
SHOULD_LINEMERGE = False
DATETIME_CONFIG = CURRENT

[source::current_timestamp]
DATETIME_CONFIG = CURRENT

[aurora-edr]
DATETIME_CONFIG =
INDEXED_EXTRACTIONS = json
KV_MODE = none
LINE_BREAKER = ([\r\n]+)
NO_BINARY_CHECK = true
TIMESTAMP_FIELDS = time
category = Structured
description = Nextron Aurora EDR JSON Formatted logs
disabled = false
pulldown_type = true
