[Unit]
Description=Attack Demo Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/run_metasploit.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
