[enable_logging]
value = false

[phantom]
value = {"f4ebdb46-3687-44b9-be72-d6b90597cff0": {"proxy": "", "user": "automation", "ph_auth_config_id": "f4ebdb46-3687-44b9-be72-d6b90597cff0", "custom_name": "phantom", "server": "https://54.185.241.145", "default": true}}

[verify_certs]
value = 0

[field_mapping]

[version]

[accepted]
value = false
