{{ ansible_managed | comment }}
[Unit]
Description=MITRE Caldera automated adversary emulation system
After=network.target

[Service]
Type=simple
ExecStart={{ caldera_home }}/env-caldera/bin/python {{ caldera_rootdir }}/server.py -E local
WorkingDirectory={{ caldera_rootdir }}
Restart=always
RestartSec=10
StandardOutput=syslog
SyslogIdentifier=caldera
User=root
Group=nogroup
PrivateTmp=true
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
