[mscs_azure_event_hub://event_hub]
account = azure_account
consumer_group = $Default
event_hub_name = {{ event_hub_name }}
event_hub_namespace = {{ event_hub_host_name }}
index = azure
interval = 300
max_batch_size = 300
max_wait_time = 10
sourcetype = mscs:azure:eventhub
use_amqp_over_websocket = 1