- hosts: all
  gather_facts: False
  become: true
  vars:  
    hostname: splunk-server
    cloudtrail: "0"
    azure_logging: "0"
    kali_server: "0"
  roles:
    - set_hostname_linux
    - splunk_server_post
    - phantom_byo_splunk
    - cloudtrail_logs
    - prelude
    - azure_logging
    - carbon_black_cloud_logs
    - crowdstrike_falcon_logging
    - guacamole
